@media (max-width: 750px) {

    .navbar {
        padding: 12px 5%;
        min-height: 70px;
    }

    .logo {
        gap: 9px;
        min-width: 0;
    }

    .logo span {
        width: 40px;
        height: 40px;
        min-width: 40px;
        border-radius: 11px;
        font-size: 14px;
    }

    .logo strong {
        font-size: 16px;
        white-space: nowrap;
    }

    .logo small {
        display: block;
        font-size: 9px;
        white-space: nowrap;
    }

    nav {
        display: none;
    }

    .hero {
        min-height: auto;
        padding: 65px 6% 55px;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .hero h1 {
        font-size: 50px;
        letter-spacing: -2.5px;
    }

    .hero-text {
        font-size: 16px;
    }

    .hero-buttons {
        gap: 8px;
    }

    .btn {
        padding: 12px 17px;
    }

    .hero-card {
        padding: 35px 20px;
    }

    .section {
        padding: 70px 6%;
    }

    .section-title h2 {
        font-size: 36px;
    }

    .app-card {
        flex-direction: column;
        padding: 25px;
    }

    .app-info h3 {
        font-size: 27px;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .contact-box {
        padding: 30px 20px;
    }

    footer {
        padding: 30px 6%;
    }
}
